body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFFFFF;
  color: #303030;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  
}

.page-header {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 35px 90px;
  padding-bottom: 0;
}

.container-border-bottom {
  padding-bottom: 35px;
  border-bottom: 2px solid #A4C58C;
}

.site-navigation-item a {
  color: #9A9A9A;
  text-decoration: none;
}

.site-navigation-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #9A9A9A;
  text-underline-position: under;
  text-underline-offset: 3px;
  text-shadow: 1px 1px 5px #9A9A9A;
}

.site-navigation-item a:active {
  text-shadow: 2px 2px 7px #787676;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
  margin-right: 60px;
  width: 197px;
  height: 29px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 35px;
}

.search {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.main-content {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0 90px;
}

.hero {
  margin-bottom: 110px;
}

.hero h1 {
  font-size: 45px;
  line-height: 55px;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 35px;
}

.hero img {
  width: 1100px;
}

.quote {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.quote blockquote {
  margin: 0;
  border-top: 2px solid #A4C58C;
  border-bottom: 2px solid #A4C58C;
  padding: 45px 0;
}

.quote p {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 25px;
}

.quote footer {
  font-weight: 700;
  text-align: center;
}

.fact-article {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 60px;
}

.fact-article:nth-of-type(2n+1) {
  flex-direction: row-reverse;
}

.fact-article:last-of-type {
  margin-bottom: 110px;
}

.fact-article img {
  width: 420px;
}

.container-article-content {
  width: 560px;
}

.fact-article h2 {
  font-weight: 400;
  font-size: 28px;
  line-height: 55px;
  color: #A4C58C;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-underline-position: under;
  margin-top: 0;
  margin-bottom: 30px;
}

.fact-article h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  margin: 20px 0;
}

.fact-article p {
  line-height: 30px;
  color: #000000;
  margin: 15px 0;
}

.symptoms {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 110px;
}

.container-symptoms-content {
  width: 500px;
}

.symptoms img {
  width: 500px;
}

.symptoms h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 90px;
}

.symptoms-list {
  margin: 0;
  margin-bottom: 70px;
}

.symptoms-item {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}

.cta-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #7EB252;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.gallery {
  width: 930px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.gallery h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 90px;
}

.container-gallery {
  display: flex;
  column-gap: 20px;
}

.active-img {
  width: 740px;
}

.gallery-preview {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.preview-item {
  width: 170px;
  height: 170px;

}

.page-footer {
  background-color: #F6F9F3;
  padding: 90px;
}

.container-footer {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container-footer-logo {
  width: 210px;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  width: 197px;
  height: 29px;
  margin: 0;
  margin-bottom: 35px;
}

.footer-link {
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #9A9A9A;
  margin-bottom: 15px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 90px;
}

.footer-link:last-of-type {
  margin-bottom: 0;
}

.footer-navigation-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 30px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-item:not(:last-of-type) {
  margin-bottom: 15px;
}


.footer-menu-item a {
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #000000;
}

.footer-menu-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #9A9A9A;
  text-underline-position: under;
  text-underline-offset: 3px;
  text-shadow: 1px 1px 5px #9A9A9A;
}

.footer-menu-item a:active {
  text-shadow: 2px 2px 7px #787676;
}