@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #2D2829;
    margin: 0;
    background-color: #FBEBEA;
}

.page-header {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 74px;
    padding-top: 60px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 155px;
}

.main-nav {
    display: flex;
    max-width: 1176px;
    align-items: center;
}

.logo {
    width: 68px;
    height: 20px;
    margin: 0;
    margin-right: 45px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 40px;
}

.site-navigation-item a {
    font-size: 13px;
    line-height: 16px;
    color: #2D2829;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navigation-item a.active {
    color: #F50049;
}

.phone {
    text-decoration: none;
    color: #2D2829;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.page {
    max-width: 1366px;
    padding-left: 74px;
    padding-right: 74px;
    margin: 0 auto;
    position: relative;
}

.promo {
    display: flex;
}

.block-promo-content {
    margin-bottom: 241px;
}

.promo-title {
    margin: 0;
    font-size: 78px;
    line-height: 70px;
    margin-bottom: 25px;
}

.promo p {
    font-style: italic;
    font-size: 40px;
    line-height: 53px;
    margin: 0;
    margin-bottom: 75px;
}

.promo img {
    display: block;
    width: 759px;
    position: absolute;
    top: -130px;
    right: 0;
    z-index: -1;
}

a.button {
    font-weight: 700;
    font-size: 13px;
    line-height: 51px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    width: 226px;
    height: 51px;
    background-color: #F50049;
    border-radius: 25.5px;
    margin-bottom: 100px;
}

.features {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nature {
    width: 118px;
    padding-left: 65px;
    position: relative;
}

.nature::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 55px;
    height: 55px;
    background-image: url("../img/leaf.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.delivery {
    width: 196px;
    padding-left: 65px;
    position: relative;
}

.delivery::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 55px;
    height: 55px;
    background-image: url("../img/delivery.svg");
    background-repeat: no-repeat;
    background-size: contain;
}


.page h2 {
    margin: 0;
    font-size: 40px;
    line-height: 66px;
}

/* --------------------------- catalog -------------------------*/

.catalog {
    margin-bottom: 100px;
}

.catalog h2 {
    margin-bottom: 55px;
}

.cards-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 696px 484px;
    row-gap: 43px;
    column-gap: 38px;
}

.cards-list h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 32px;
}

.cards-list p {
    margin: 0;
}

.cards-list a {
    font-size: 18px;
    line-height: 24px;
    color: #2D2829;
    text-decoration: none;
}

.cards-item {
    position: relative;
}

.cards-item.thin {
    width: 484px;
    height: 305px;
    grid-column: 2 / 3;
}

.cards-item.wide {
    width: 696px;
    height: 653px;
    grid-column: 1 / 2;
    grid-row: span 2;
}

.cards-item h3 {
    position: absolute;
    top: 30px;
    left: 35px;
}

.cards-item p {
    position: absolute;
    top: 62px;
    left: 35px;
}
}


.cards-item img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cards-item a {
    position: absolute;
    bottom: 39px;
    right: 40px;
}

.cards-item a::after {
    content: "";
    display: inline-block;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    height: 12px;
    margin-left: 15px;
}

/*----------------------------- reviews ------------------------*/
.reviews {
    margin-bottom: 115px;
}

.reviews h2 {
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
}

.review {
    width: 720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 210px 1fr;
    column-gap: 65px;
}

.review img {
    margin-top: auto;
    margin-bottom: 5px;
    border-radius: 50%;
}

.review h3 {
    margin: 0;
    font-size: 27px;
    line-height: 36px;
}

.review p {
    margin: 0;
}

p.info {
    font-size: 25px;
    line-height: 33px;
    margin-bottom: 19px;
}

/*------------------------------- advantages --------------------*/
.advantages {
    background-image: url("../img/berries.png");
    background-repeat: no-repeat;
    background-size: auto;
    /* background-position: left bottom; */
    margin-bottom: 279px;
}

.advantages h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 25px;
}

.advantages-text {
    font-style: italic;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 115px;
}

.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.advantages-item  {
    width: 423px;
    margin-left: auto;
    margin-right: 172px;
}

/*------------------------- contacts --------------------------*/
.contact-item a {
    text-decoration: none;
    color: #2D2829;
}

.contact-item address {
    font-style: normal;
}

.social-item {
    background-color: #FFFFFF;
}

.main-footer {
    background-color: #D0D0D0;
    color: #888888;
}

.footer-navigation a {
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #2D2829;
}

.copyright {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}