@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: grid;
    grid-template-columns: 311px 1055px;
    text-transform: uppercase;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-header {
    background-color: #151413;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    margin: 0;
    margin-bottom: 30px;
    padding-left: 50px;
}

.logo img {
    display: block;
    width: 133px;
    height: 42px;
}

.site-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    border-bottom: 1px solid #FFFDFC;
    padding-left: 50px;
    padding-bottom: 25px;
}
.site-navigation-item a {
    text-decoration: none;
    color: #FFFDFC;
}

.site-navigation-item a.active {
    text-decoration: underline;
    text-decoration-color:#DC5B34;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-underline-position: under;
}


.site-navigation-item a:hover {
    color: #acc8c9;
}

.site-navigation-item a:active {
    text-decoration: underline;
    text-decoration-color:#DC5B34;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-underline-position: under;
}



.service-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    padding: 25px 0;
    padding-left: 50px;
    border-bottom: 1px solid #FFFDFC;
}

.service-navigation-item a {
    text-decoration: none;
    color: #FFFDFC;
} 



.service-navigation-item a:hover {
    color: #acc8c9;
}

.service-navigation-item a:active {
    text-decoration: underline;
    text-decoration-color:#DC5B34;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    text-underline-position: under;
}

.social-list {
    display: flex;
    gap: 25px;
    padding-left: 50px;
    padding-top: 25px;
}

.container-promo {
    padding-left: 52px;
    padding-right: 103px;
}

.container-content {
    width: 900px;
    height: 365px;
    position: relative;
    
}

.container-text {
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
    position: absolute;
    top: 116px;
    left: 256px;
}


.container-text li {
    width: 388px;
    background-color: #DC5B34;
    margin-bottom: 7px;
    text-align: center;
}

.container-text li:first-child {
    width: 264px;
    position: relative;
    left: 71px;
}

.container-text li:last-child {
    margin: 0;
}

.breadcrumds-list {
    margin-top: 44px;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
}

.breadcrumds-list a {
    font-weight: 400;
    text-decoration: none;
    color: #151413;
    margin-right: 11px;
}

.breadcrumds-list a.active {
    opacity: 0.6;
}

.breadcrumds-item::after {
    /* content: ">"; */
    
    content: "";
    display: inline-block;
    width: 5px;
    height: 9px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
}


.breadcrumds-item:last-child::after {
    content: "";
    background-image: none;
    margin: 0;
}

