@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #1A1A1A;

    margin: 0;
}

ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #1A1A1A;
}

img {
    display: block;
}

h1 {
    display: none;
}

section h2 {
    margin: 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 28px;
}

/* ---------------- HEADER ------------------------*/

.main-header {
    margin: 0 160px;
    margin-top: 29px;
    margin-bottom: 91px;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.header-logo {
    width: 49px;
    height: 47.69px;
}

.main-nav {
    margin-left: 80px;
    border: 1px solid #000;
}
.main-nav-list {
    display: flex;
    gap: 70px;
    
}
.main-nav-item {
}
.icons {
    width: 174.7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;   
}
.icon {
}
/* __________________________________________________ */


/*------------------- MAIN ---------------------------*/

.page {
    margin: 0 160px;
}

.hero-discount {
}

.hero-title {
    width: 808px;
    font-size: 60px;
    font-weight: 400;
    line-height: 73px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}

.hero-discount a {
    display: block;
    text-align: center;
    margin-bottom: 32px;
}

.hero-discount img {
    margin: 0 auto;
    margin-bottom: 200px;
} 
.block-novelties {
}
.block-novelties h2 {
    margin-bottom: 70px;
}

.card-product-list {
    display: flex;
}
.card-product-item {
    height: 394px;
    width: 302px;
    border: 2px solid #EAEAEB;
    border-right: 1px solid #EAEAEB;
}

.card-product-item:last-child {
    border-right: 2px solid #EAEAEB;
}

.block-content-card {
    margin: 0 auto;
    width: 250px;
    border: 1px solid #000;
}

.card-product-item img {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 45px;
}

/* .card-product-item img:nth-child(3) {
    margin: 13px 9px 35px 30px;
} */

.card-product-item p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    /* text-align: center; */
    margin-bottom: 10px;
}



.block-promotions {
}
.promo-limited-time {
}
.block-bestsellers {
}
.best-sellers {
}
.block-joinus {
}
.joinus-img-list {
}
.joinus-img-item {
}
.social-list {
}
.social-item {
}
.brands {
}
.card-brands-list {
}
.card-brands-item {
}
.main-footer {
}
.footer-icons-list {
}
.footer-icon-item {
}